.bg-custom {
	background-color: #186F65;
	
}
.container_fluid back-img{
	color: red;
}

.navbar .nav-item .nav-link {
	font-size: 20px;
	color: white;
}

.navbar .nav-item:hover .nav-link {
	background: #B5CB99;
	color: black;
	border-radius: 5px;
}